In [24]:
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
# 設置 data frame, index = 0~11, 
# 雖然是 DataFrame, 但是因為只有一個 column, 所以也幾乎就是 DataSeries
ages = pd.DataFrame({"age": [18,22,25,27,21,23,23,37,31,61,45,41,100]})

print(f'type(ages){type(ages)}')

ages

type(ages)<class 'pandas.core.frame.DataFrame'>

    age
0    18
1    22
2    25
3    27
4    21
5    23
6    23
7    37
8    31
9    61
10   45
11   41
12  100

#### 等寬劃分

In [26]:
# 平均分成 4 組
ages["equal_width_age"] = pd.cut(ages["age"], 4)

# 這時候 DataFrame 新增的 Column "equal_width_age" 的 type 是 Category
ages["equal_width_age"]

0     (17.918, 38.5]
1     (17.918, 38.5]
2     (17.918, 38.5]
3     (17.918, 38.5]
4     (17.918, 38.5]
5     (17.918, 38.5]
6     (17.918, 38.5]
7     (17.918, 38.5]
8     (17.918, 38.5]
9       (59.0, 79.5]
10      (38.5, 59.0]
11      (38.5, 59.0]
12     (79.5, 100.0]
Name: equal_width_age, dtype: category
Categories (4, interval[float64]): [(17.918, 38.5] < (38.5, 59.0] < (59.0, 79.5] < (79.5, 100.0]]

In [27]:
# Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)
#   Return a Series containing counts of unique values. (好像並非 unique values, 而是筆數 values count)

ages["equal_width_age"].value_counts() # 每個 bin 的值的範圍大小都是一樣的 (所以裡面的 values count 會不相同)

(17.918, 38.5]    9
(38.5, 59.0]      2
(79.5, 100.0]     1
(59.0, 79.5]      1
Name: equal_width_age, dtype: int64

#### 等頻劃分

In [28]:
'''
cut函数是利用數值區間將數值分類，qcut則是用分位數。
換句話說，cut用在長度相等的類別，qcut用在大小相等的類別
'''
# pandas.qcut(x, q, labels=None, retbins=False, precision=3, duplicates='raise')[source]
#     Quantile-based discretization function. Discretize variable into equal-sized 
#     buckets based on rank or based on sample quantiles. 
#     For example 1000 values for 10 quantiles would produce a Categorical object 
#     indicating quantile membership for each data point.
#
# quantile: 分位數
#    分位數，亦稱分位點，是指用分割點將一個隨機變量的機率分布範圍分為幾個具有相同機率的連續區間。
#    分割點的數量比劃分出的區間少1，例如3個分割點能分出4個區間。 
#    常用的有中位數、四分位數、十分位數、百分位數等。q-quantile是指將有限值集分為q個接近相同尺寸的子集。

ages["equal_freq_age"] = pd.qcut(ages["age"], 4)

In [29]:
ages["equal_freq_age"].value_counts() # 每個 bin 的資料筆數是一樣的

(17.999, 23.0]    5
(41.0, 100.0]     3
(27.0, 41.0]      3
(23.0, 27.0]      2
Name: equal_freq_age, dtype: int64

In [30]:
'''
Note
如果沒有兩筆重複的 23, 結果會是 3,3,3,3
'''

'\nNote\n如果沒有兩筆重複的 23, 結果會是 3,3,3,3\n'

#### 自定義的 bin

In [31]:
# cut 後面接上 list, 就變成自訂一 bins
ages["customized_age_grp"] = pd.cut(ages["age"], [10, 20, 30, 50, 100])

In [32]:
ages

    age equal_width_age  equal_freq_age customized_age_grp
0    18  (17.918, 38.5]  (17.999, 23.0]           (10, 20]
1    22  (17.918, 38.5]  (17.999, 23.0]           (20, 30]
2    25  (17.918, 38.5]    (23.0, 27.0]           (20, 30]
3    27  (17.918, 38.5]    (23.0, 27.0]           (20, 30]
4    21  (17.918, 38.5]  (17.999, 23.0]           (20, 30]
5    23  (17.918, 38.5]  (17.999, 23.0]           (20, 30]
6    23  (17.918, 38.5]  (17.999, 23.0]           (20, 30]
7    37  (17.918, 38.5]    (27.0, 41.0]           (30, 50]
8    31  (17.918, 38.5]    (27.0, 41.0]           (30, 50]
9    61    (59.0, 79.5]   (41.0, 100.0]          (50, 100]
10   45    (38.5, 59.0]   (41.0, 100.0]           (30, 50]
11   41    (38.5, 59.0]    (27.0, 41.0]           (30, 50]
12  100   (79.5, 100.0]   (41.0, 100.0]          (50, 100]