# 機器學習百日馬拉松期中考 - Enron Fraud Dataset 安隆公司詐欺案資料集

https://www.kaggle.com/c/ml100marathon

# 作業1
* 參考範例，將鐵達尼的艙位代碼( 'Cabin' )欄位使用特徵雜湊 / 標籤編碼 / 目標均值編碼三種轉換後，  
與其他數值型欄位一起預估生存機率

In [39]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

df_temp = pd.DataFrame()

data_path = 'mid_term_exam/'
df_train_ori = pd.read_csv(data_path + 'train_data.csv')
df_test_ori = pd.read_csv(data_path + 'test_features.csv')

In [40]:
df_train_ori

,name,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,RICE KENNETH D,1750000.0,NaN,-3504386.0,NaN,ken.rice@enron.com,19794175.0,46950.0,18.0,42.0,...,1617011.0,174839.0,True,2748364.0,NaN,420636.0,864.0,905.0,505050.0,22542539.0
1,SKILLING JEFFREY K,5600000.0,NaN,NaN,NaN,jeff.skilling@enron.com,19250000.0,29336.0,108.0,88.0,...,1920000.0,22122.0,True,6843672.0,NaN,1111258.0,2042.0,3627.0,8682716.0,26093672.0
2,SHELBY REX,200000.0,NaN,-4167.0,NaN,rex.shelby@enron.com,1624396.0,22884.0,39.0,13.0,...,NaN,1573324.0,True,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
3,KOPPER MICHAEL J,800000.0,NaN,NaN,NaN,michael.kopper@enron.com,NaN,118134.0,NaN,NaN,...,602671.0,907502.0,True,985032.0,NaN,224305.0,NaN,NaN,2652612.0,985032.0
4,CALGER CHRISTOPHER F,1250000.0,NaN,-262500.0,NaN,christopher.calger@enron.com,NaN,35818.0,144.0,199.0,...,375304.0,486.0,True,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0
5,HIRKO JOSEPH,NaN,10259.0,NaN,NaN,joe.hirko@enron.com,30766064.0,77978.0,NaN,NaN,...,NaN,2856.0,True,NaN,NaN,NaN,NaN,NaN,91093.0,30766064.0
6,YEAGER F SCOTT,NaN,NaN,NaN,NaN,scott.yeager@enron.com,8308552.0,53947.0,NaN,NaN,...,NaN,147950.0,True,3576206.0,NaN,158403.0,NaN,NaN,360300.0,11884758.0
7,COLWELL WESLEY,1200000.0,27610.0,-144062.0,NaN,wes.colwell@enron.com,NaN,16514.0,40.0,240.0,...,NaN,101740.0,True,698242.0,NaN,288542.0,1132.0,1758.0,1490344.0,698242.0
8,LAY KENNETH L,7000000.0,202911.0,-300000.0,NaN,kenneth.lay@enron.com,34348384.0,99832.0,36.0,123.0,...,3600000.0,10359729.0,True,14761694.0,NaN,1072321.0,2411.0,4273.0,103559793.0,49110078.0
9,GLISAN JR BEN F,600000.0,NaN,NaN,NaN,ben.glisan@enron.com,384728.0,125978.0,16.0,52.0,...,71023.0,200308.0,True,393818.0,NaN,274975.0,874.0,873.0,1272284.0,778546.0
10,KOENIG MARK E,700000.0,NaN,NaN,NaN,mark.koenig@enron.com,671737.0,127017.0,61.0,53.0,...,300000.0,150458.0,True,1248318.0,NaN,309946.0,2271.0,2374.0,1587421.0,1920055.0
11,RIEKER PAULA H,700000.0,214678.0,-100000.0,NaN,paula.rieker@enron.com,1635238.0,33271.0,82.0,35.0,...,NaN,1950.0,True,283649.0,NaN,249201.0,1258.0,1328.0,1099100.0,1918887.0
12,FASTOW ANDREW S,1300000.0,NaN,-1386055.0,NaN,andrew.fastow@enron.com,NaN,55921.0,NaN,NaN,...,1736055.0,277464.0,True,1794412.0,NaN,440698.0,NaN,NaN,2424083.0,1794412.0
13,GOLD JOSEPH,750000.0,NaN,NaN,NaN,joe.gold@enron.com,436515.0,NaN,NaN,NaN,...,304805.0,819288.0,False,441096.0,NaN,272880.0,NaN,NaN,2146973.0,877611.0
14,ALLEN PHILLIP K,4175000.0,2869717.0,-3081055.0,NaN,phillip.allen@enron.com,1729541.0,13868.0,2195.0,47.0,...,304805.0,152.0,False,126027.0,-126027.0,201955.0,1407.0,2902.0,4484442.0,1729541.0
15,BLACHMAN JEREMY M,850000.0,NaN,NaN,NaN,jeremy.blachman@enron.com,765313.0,84208.0,14.0,25.0,...,831809.0,272.0,False,189041.0,NaN,248546.0,2326.0,2475.0,2014835.0,954354.0
16,GAHN ROBERT S,509870.0,73122.0,-1042.0,NaN,NaN,83237.0,50080.0,NaN,NaN,...,NaN,76547.0,False,235370.0,NaN,192008.0,NaN,NaN,900585.0,318607.0
17,WROBEL BRUCE,NaN,NaN,NaN,NaN,NaN,139130.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,139130.0
18,CUMBERLAND MICHAEL S,325000.0,NaN,NaN,NaN,NaN,NaN,22344.0,NaN,NaN,...,275000.0,713.0,False,207940.0,NaN,184899.0,NaN,NaN,807956.0,207940.0
19,LEFF DANIEL P,1000000.0,NaN,NaN,NaN,dan.leff@enron.com,NaN,NaN,63.0,67.0,...,1387399.0,3083.0,False,360528.0,NaN,273746.0,2672.0,2822.0,2664228.0,360528.0
20,THORN TERENCE H,NaN,16586.0,NaN,NaN,terence.thorn@enron.com,4452476.0,46145.0,41.0,0.0,...,200000.0,426629.0,False,365320.0,NaN,222093.0,73.0,266.0,911453.0,4817796.0
21,OVERDYKE JR JERE C,NaN,NaN,NaN,NaN,jere.overdyke@enron.com,5266578.0,18834.0,NaN,NaN,...,135836.0,176.0,False,2041016.0,NaN,94941.0,NaN,NaN,249787.0,7307594.0
22,BUCHANAN HAROLD G,500000.0,NaN,NaN,NaN,john.buchanan@enron.com,825464.0,600.0,125.0,0.0,...,304805.0,1215.0,False,189041.0,NaN,248017.0,23.0,1088.0,1054637.0,1014505.0
23,MCDONALD REBECCA,NaN,NaN,NaN,NaN,rebecca.mcdonald@enron.com,757301.0,NaN,13.0,54.0,...,NaN,NaN,False,934065.0,NaN,NaN,720.0,894.0,NaN,1691366.0
24,CORDES WILLIAM R,NaN,NaN,NaN,NaN,bill.cordes@enron.com,651850.0,NaN,12.0,10.0,...,NaN,NaN,False,386335.0,NaN,NaN,58.0,764.0,NaN,1038185.0
25,GATHMANN WILLIAM D,NaN,NaN,NaN,NaN,NaN,1753766.0,NaN,NaN,NaN,...,NaN,NaN,False,264013.0,-72419.0,NaN,NaN,NaN,NaN,1945360.0
26,KITCHEN LOUISE,3100000.0,NaN,NaN,NaN,louise.kitchen@enron.com,81042.0,5774.0,1728.0,251.0,...,NaN,93925.0,False,466101.0,NaN,271442.0,3669.0,8305.0,3471141.0,547143.0
27,POWERS WILLIAM,NaN,NaN,-17500.0,17500.0,ken.powers@enron.com,NaN,NaN,26.0,0.0,...,NaN,NaN,False,NaN,NaN,NaN,12.0,653.0,NaN,NaN
28,DODSON KEITH,70000.0,NaN,NaN,NaN,keith.dodson@enron.com,NaN,28164.0,14.0,10.0,...,NaN,774.0,False,NaN,NaN,221003.0,114.0,176.0,319941.0,NaN
29,KAMINSKI WINCENTY J,400000.0,NaN,NaN,NaN,vince.kaminski@enron.com,850010.0,83585.0,14368.0,41.0,...,323466.0,4669.0,False,126027.0,NaN,275101.0,583.0,4607.0,1086821.0,976037.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,MCCLELLAN GEORGE,900000.0,NaN,-125000.0,NaN,george.mcclellan@enron.com,506765.0,228763.0,49.0,52.0,...,NaN,51587.0,False,441096.0,NaN,263413.0,1469.0,1744.0,1318763.0,947861.0
84,DUNCAN JOHN H,NaN,NaN,-25000.0,102492.0,NaN,371750.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,77492.0,371750.0
85,WESTFAHL RICHARD K,NaN,NaN,-10800.0,NaN,dick.westfahl@enron.com,NaN,51870.0,NaN,NaN,...,256191.0,401130.0,False,384930.0,NaN,63744.0,NaN,NaN,762135.0,384930.0
86,IZZO LAWRENCE L,NaN,NaN,NaN,NaN,larry.izzo@enron.com,2165172.0,28093.0,19.0,28.0,...,312500.0,1553729.0,False,3654808.0,NaN,85274.0,437.0,496.0,1979596.0,5819980.0
87,KEAN STEVEN J,1000000.0,NaN,NaN,NaN,steven.kean@enron.com,2022048.0,41953.0,6759.0,140.0,...,300000.0,1231.0,False,4131594.0,NaN,404338.0,3639.0,12754.0,1747522.0,6153642.0
88,SULLIVAN-SHAKLOVITZ COLLEEN,100000.0,181993.0,NaN,NaN,NaN,1362375.0,NaN,NaN,NaN,...,554422.0,162.0,False,NaN,NaN,162779.0,NaN,NaN,999356.0,1362375.0
89,FITZGERALD JAY L,350000.0,NaN,NaN,NaN,jay.fitzgerald@enron.com,664461.0,23870.0,16.0,1.0,...,556416.0,285414.0,False,956775.0,NaN,199157.0,723.0,936.0,1414857.0,1621236.0
90,DIMICHELE RICHARD G,1000000.0,NaN,NaN,NaN,richard.dimichele@enron.com,8191755.0,35812.0,NaN,NaN,...,694862.0,374689.0,False,126027.0,NaN,262788.0,NaN,NaN,2368151.0,8317782.0
91,UMANOFF ADAM S,788750.0,NaN,NaN,NaN,adam.umanoff@enron.com,NaN,53122.0,18.0,12.0,...,NaN,NaN,False,NaN,NaN,288589.0,41.0,111.0,1130461.0,NaN
92,BADUM JAMES P,NaN,178980.0,NaN,NaN,NaN,257817.0,3486.0,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,182466.0,257817.0
93,HAYES ROBERT E,NaN,7961.0,NaN,NaN,robert.hayes@enron.com,NaN,NaN,12.0,16.0,...,NaN,NaN,False,151418.0,NaN,NaN,50.0,504.0,7961.0,151418.0
94,CLINE KENNETH W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,662086.0,-472568.0,NaN,NaN,NaN,NaN,189518.0
95,BANNANTINE JAMES M,NaN,NaN,-5104.0,NaN,james.bannantine@enron.com,4046157.0,56301.0,29.0,39.0,...,NaN,864523.0,False,1757552.0,-560222.0,477.0,465.0,566.0,916197.0,5243487.0
96,COX DAVID,800000.0,NaN,-41250.0,NaN,chip.cox@enron.com,117551.0,27861.0,33.0,0.0,...,NaN,494.0,False,378082.0,NaN,314288.0,71.0,102.0,1101393.0,495633.0
97,SHARP VICTORIA T,600000.0,187469.0,NaN,NaN,vicki.sharp@enron.com,281073.0,116337.0,136.0,24.0,...,422158.0,2401.0,False,213063.0,NaN,248146.0,2477.0,3136.0,1576511.0,494136.0
98,SAVAGE FRANK,NaN,NaN,-121284.0,125034.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,3750.0,NaN
99,NOLES JAMES L,NaN,774401.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,463261.0,-94556.0,NaN,NaN,NaN,774401.0,368705.0
100,WAKEHAM JOHN,NaN,NaN,NaN,109298.0,NaN,NaN,103773.0,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,213071.0,NaN
101,MCCARTY DANNY J,NaN,NaN,NaN,NaN,danny.mccarty@enron.com,664375.0,NaN,215.0,25.0,...,NaN,NaN,False,94556.0,NaN,NaN,508.0,1433.0,NaN,758931.0
102,MURRAY JULIA H,400000.0,NaN,NaN,NaN,julia.murray@enron.com,400478.0,57580.0,45.0,11.0,...,125000.0,330.0,False,196983.0,NaN,229284.0,395.0,2192.0,812194.0,597461.0
103,MEYER ROCKFORD G,NaN,1848227.0,NaN,NaN,rockford.meyer@enron.com,493489.0,NaN,28.0,0.0,...,NaN,NaN,False,462384.0,NaN,NaN,22.0,232.0,1848227.0,955873.0
104,YEAP SOON,NaN,NaN,NaN,NaN,NaN,192758.0,55097.0,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,55097.0,192758.0
105,CHRISTODOULOU DIOMEDES,NaN,NaN,NaN,NaN,diomedes.christodoulou@enron.com,5127155.0,NaN,NaN,NaN,...,NaN,NaN,False,950730.0,NaN,NaN,NaN,NaN,NaN,6077885.0
106,JACKSON CHARLENE R,250000.0,NaN,NaN,NaN,charlene.jackson@enron.com,185063.0,10181.0,56.0,25.0,...,NaN,2435.0,False,540672.0,NaN,288558.0,117.0,258.0,551174.0,725735.0
107,LOCKHART EUGENE E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,STABLER FRANK,500000.0,NaN,NaN,NaN,frank.stabler@enron.com,NaN,16514.0,NaN,NaN,...,NaN,356071.0,False,511734.0,NaN,239502.0,NaN,NaN,1112087.0,511734.0
109,BROWN MICHAEL,NaN,NaN,NaN,NaN,michael.brown@enron.com,NaN,49288.0,41.0,13.0,...,NaN,NaN,False,NaN,NaN,NaN,761.0,1486.0,49288.0,NaN
110,PICKERING MARK R,300000.0,NaN,NaN,NaN,mark.pickering@enron.com,28798.0,31653.0,67.0,7.0,...,NaN,NaN,False,NaN,NaN,655037.0,728.0,898.0,1386690.0,28798.0
111,HAUG DAVID L,NaN,NaN,NaN,NaN,david.haug@enron.com,NaN,475.0,19.0,4.0,...,NaN,NaN,False,2217299.0,NaN,NaN,471.0,573.0,475.0,2217299.0
112,SHAPIRO RICHARD S,650000.0,NaN,NaN,NaN,richard.shapiro@enron.com,607837.0,137767.0,1215.0,74.0,...,NaN,705.0,False,379164.0,NaN,269076.0,4527.0,15149.0,1057548.0,987001.0

In [41]:
df_train_ori.describe()

,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
count,6.100000e+01,2.800000e+01,3.400000e+01,13.000000,8.100000e+01,73.000000,65.000000,65.000000,65.000000,2.000000e+00,4.900000e+01,6.900000e+01,8.200000e+01,10.000000,7.300000e+01,65.000000,65.000000,9.600000e+01,9.800000e+01
mean,1.147436e+06,6.344374e+05,-4.625664e+05,89397.846154,2.985081e+06,51040.547945,711.323077,64.800000,40.092308,4.096250e+07,7.926171e+05,4.471774e+05,1.294855e+06,-221885.700000,2.739025e+05,1111.369231,2156.061538,2.590977e+06,3.527136e+06
std,1.505189e+06,8.603646e+05,8.095392e+05,41143.391399,6.004174e+06,47596.682104,2074.497628,91.863214,88.901407,5.736404e+07,9.504645e+05,1.341564e+06,2.498335e+06,205191.374121,1.716647e+05,1165.852016,2811.676718,1.056645e+07,7.182997e+06
min,7.000000e+04,-1.025000e+05,-3.504386e+06,3285.000000,3.285000e+03,148.000000,12.000000,0.000000,0.000000,4.000000e+05,7.102300e+04,2.000000e+00,4.409300e+04,-560222.000000,4.770000e+02,2.000000,57.000000,1.480000e+02,-4.409300e+04
25%,4.500000e+05,7.656750e+04,-5.527032e+05,101250.000000,4.004780e+05,18834.000000,19.000000,10.000000,0.000000,2.068125e+07,2.750000e+05,9.720000e+02,2.689220e+05,-389621.750000,2.061210e+05,178.000000,517.000000,3.024025e+05,4.211518e+05
50%,7.500000e+05,1.951900e+05,-1.175340e+05,108579.000000,8.500100e+05,41953.000000,45.000000,28.000000,7.000000,4.096250e+07,4.221580e+05,5.238200e+04,4.628225e+05,-139856.500000,2.516540e+05,599.000000,1088.000000,1.106740e+06,9.979710e+05
75%,1.000000e+06,8.342052e+05,-2.708325e+04,112492.000000,2.165172e+06,59175.000000,215.000000,88.000000,27.000000,6.124375e+07,8.318090e+05,3.620960e+05,9.664905e+05,-77953.250000,2.885890e+05,1902.000000,2649.000000,1.985668e+06,2.493616e+06
max,8.000000e+06,2.964506e+06,-1.042000e+03,125034.000000,3.434838e+07,228763.000000,14368.000000,528.000000,411.000000,8.152500e+07,5.145434e+06,1.035973e+07,1.476169e+07,44093.000000,1.111258e+06,4527.000000,15149.000000,1.035598e+08,4.911008e+07

In [42]:
df_train_ori.dtypes

name                          object
bonus                        float64
deferral_payments            float64
deferred_income              float64
director_fees                float64
email_address                 object
exercised_stock_options      float64
expenses                     float64
from_messages                float64
from_poi_to_this_person      float64
from_this_person_to_poi      float64
loan_advances                float64
long_term_incentive          float64
other                        float64
poi                             bool
restricted_stock             float64
restricted_stock_deferred    float64
salary                       float64
shared_receipt_with_poi      float64
to_messages                  float64
total_payments               float64
total_stock_value            float64
dtype: object

In [43]:
train_Y = df_train_ori['poi']
train_num = train_Y.shape[0]

ids = df_test_ori['name']
df_train = df_train_ori.drop(['name', 'email_address', 'poi'] , axis=1)
df_test = df_test_ori.drop(['name', 'email_address'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,1750000.0,NaN,-3504386.0,NaN,19794175.0,46950.0,18.0,42.0,4.0,NaN,1617011.0,174839.0,2748364.0,NaN,420636.0,864.0,905.0,505050.0,22542539.0
1,5600000.0,NaN,NaN,NaN,19250000.0,29336.0,108.0,88.0,30.0,NaN,1920000.0,22122.0,6843672.0,NaN,1111258.0,2042.0,3627.0,8682716.0,26093672.0
2,200000.0,NaN,-4167.0,NaN,1624396.0,22884.0,39.0,13.0,14.0,NaN,NaN,1573324.0,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
3,800000.0,NaN,NaN,NaN,NaN,118134.0,NaN,NaN,NaN,NaN,602671.0,907502.0,985032.0,NaN,224305.0,NaN,NaN,2652612.0,985032.0
4,1250000.0,NaN,-262500.0,NaN,NaN,35818.0,144.0,199.0,25.0,NaN,375304.0,486.0,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0

In [44]:

df.nunique

<bound method DataFrame.nunique of          bonus  deferral_payments  deferred_income  director_fees  \
0    1750000.0                NaN       -3504386.0            NaN
1    5600000.0                NaN              NaN            NaN
2     200000.0                NaN          -4167.0            NaN
3     800000.0                NaN              NaN            NaN
4    1250000.0                NaN        -262500.0            NaN
5          NaN            10259.0              NaN            NaN
6          NaN                NaN              NaN            NaN
7    1200000.0            27610.0        -144062.0            NaN
8    7000000.0           202911.0        -300000.0            NaN
9     600000.0                NaN              NaN            NaN
10    700000.0                NaN              NaN            NaN
11    700000.0           214678.0        -100000.0            NaN
12   1300000.0                NaN       -1386055.0            NaN
13    750000.0                NaN              NaN            NaN
14   4175000.0          2869717.0       -3081055.0            NaN
15    850000.0                NaN              NaN            NaN
16    509870.0            73122.0          -1042.0            NaN
17         NaN                NaN              NaN            NaN
18    325000.0                NaN              NaN            NaN
19   1000000.0                NaN              NaN            NaN
20         NaN            16586.0              NaN            NaN
21         NaN                NaN              NaN            NaN
22    500000.0                NaN              NaN            NaN
23         NaN                NaN              NaN            NaN
24         NaN                NaN              NaN            NaN
25         NaN                NaN              NaN            NaN
26   3100000.0                NaN              NaN            NaN
27         NaN                NaN         -17500.0        17500.0
28     70000.0                NaN              NaN            NaN
29    400000.0                NaN              NaN            NaN
..         ...                ...              ...            ...
3    3000000.0                NaN              NaN            NaN
4    1000000.0                NaN        -235000.0            NaN
5    1700000.0                NaN              NaN            NaN
6    2000000.0          6426990.0       -3367011.0            NaN
7          NaN                NaN         -98784.0        98784.0
8     800000.0                NaN        -300000.0            NaN
9     100000.0            51365.0        -200000.0            NaN
10         NaN          3131860.0              NaN            NaN
11         NaN                NaN              NaN            NaN
12         NaN                NaN              NaN            NaN
13         NaN                NaN         -38346.0        38346.0
14    800000.0                NaN       -1284000.0            NaN
15         NaN                NaN              NaN            NaN
16    425000.0           875307.0        -775241.0            NaN
17         NaN                NaN         -51042.0            NaN
18    400000.0           260455.0        -201641.0            NaN
19         NaN           564348.0              NaN            NaN
20  97343619.0         32083396.0      -27992891.0      1398517.0
21   2500000.0                NaN              NaN            NaN
22    600000.0                NaN              NaN            NaN
23         NaN                NaN              NaN            NaN
24    325000.0                NaN              NaN            NaN
25    300000.0                NaN        -159792.0            NaN
26         NaN                NaN              NaN       137864.0
27         NaN            53625.0              NaN            NaN
28   1000000.0                NaN              NaN            NaN
29   1500000.0                NaN              NaN            NaN
30         NaN           504610.0              NaN            NaN
31    200000.0           204075.0              NaN            NaN
32   2600000.0                NaN              NaN            NaN

    exercised_stock_options   expenses  from_messages  \
0                19794175.0    46950.0           18.0
1                19250000.0    29336.0          108.0
2                 1624396.0    22884.0           39.0
3                       NaN   118134.0            NaN
4                       NaN    35818.0          144.0
5                30766064.0    77978.0            NaN
6                 8308552.0    53947.0            NaN
7                       NaN    16514.0           40.0
8                34348384.0    99832.0           36.0
9                  384728.0   125978.0           16.0
10                 671737.0   127017.0           61.0
11                1635238.0    33271.0           82.0
12                      NaN    55921.0            NaN
13                 436515.0        NaN            NaN
14                1729541.0    13868.0         2195.0
15                 765313.0    84208.0           14.0
16                  83237.0    50080.0            NaN
17                 139130.0        NaN            NaN
18                      NaN    22344.0            NaN
19                      NaN        NaN           63.0
20                4452476.0    46145.0           41.0
21                5266578.0    18834.0            NaN
22                 825464.0      600.0          125.0
23                 757301.0        NaN           13.0
24                 651850.0        NaN           12.0
25                1753766.0        NaN            NaN
26                  81042.0     5774.0         1728.0
27                      NaN        NaN           26.0
28                      NaN    28164.0           14.0
29                 850010.0    83585.0        14368.0
..                      ...        ...            ...
3                 2291113.0    86174.0         3069.0
4                       NaN    30674.0           49.0
5                       NaN    98849.0           27.0
6                10433518.0    86987.0           21.0
7                       NaN        NaN            NaN
8                  765920.0    96268.0           22.0
9                 4160672.0     8409.0            NaN
10                5210569.0        NaN         1073.0
11                 850477.0        NaN           26.0
12                1426469.0        NaN           25.0
13                      NaN     2151.0            NaN
14                8831913.0    51124.0          909.0
15                      NaN        NaN           16.0
16                2027865.0    52255.0            NaN
17                      NaN   116335.0            NaN
18                      NaN   129142.0            NaN
19                 886231.0        NaN            NaN
20              311764000.0  5235198.0            NaN
21                 940257.0    95924.0           75.0
22                      NaN    94299.0           29.0
23                      NaN        NaN            NaN
24                      NaN    35018.0            NaN
25                      NaN        NaN           15.0
26                2604490.0        NaN           29.0
27                1030329.0    33785.0            NaN
28                1465734.0    38559.0           40.0
29                1835558.0        NaN           92.0
30                2218275.0        NaN           12.0
31                2549361.0    57727.0            NaN
32                1104054.0   137108.0           48.0

    from_poi_to_this_person  from_this_person_to_poi  loan_advances  \
0                      42.0                      4.0            NaN
1                      88.0                     30.0            NaN
2                      13.0                     14.0            NaN
3                       NaN                      NaN            NaN
4                     199.0                     25.0            NaN
5                       NaN                      NaN            NaN
6                       NaN                      NaN            NaN
7                     240.0                     11.0            NaN
8                     123.0                     16.0     81525000.0
9                      52.0                      6.0            NaN
10                     53.0                     15.0            NaN
11                     35.0                     48.0            NaN
12                      NaN                      NaN            NaN
13                      NaN                      NaN            NaN
14                     47.0                     65.0            NaN
15                     25.0                      2.0            NaN
16                      NaN                      NaN            NaN
17                      NaN                      NaN            NaN
18                      NaN                      NaN            NaN
19                     67.0                     14.0            NaN
20                      0.0                      0.0            NaN
21                      NaN                      NaN            NaN
22                      0.0                      0.0            NaN
23                     54.0                      1.0            NaN
24                     10.0                      0.0            NaN
25                      NaN                      NaN            NaN
26                    251.0                    194.0            NaN
27                      0.0                      0.0            NaN
28                     10.0                      3.0            NaN
29                     41.0                    171.0            NaN
..                      ...                      ...            ...
3                      66.0                    609.0            NaN
4                      58.0                     12.0            NaN
5                      40.0                      1.0            NaN
6                     242.0                      6.0      2000000.0
7                       NaN                      NaN            NaN
8                     188.0                     11.0            NaN
9                       NaN                      NaN            NaN
10                     44.0                     15.0            NaN
11                     10.0                      0.0            NaN
12                     39.0                     18.0            NaN
13                      NaN                      NaN            NaN
14                     64.0                     20.0            NaN
15                      0.0                      1.0            NaN
16                      NaN                      NaN            NaN
17                      NaN                      NaN            NaN
18                      NaN                      NaN            NaN
19                      NaN                      NaN            NaN
20                      NaN                      NaN     83925000.0
21                     42.0                     37.0            NaN
22                     38.0                      1.0            NaN
23                      NaN                      NaN            NaN
24                      NaN                      NaN            NaN
25                     29.0                      7.0            NaN
26                      0.0                      1.0            NaN
27                      NaN                      NaN            NaN
28                     23.0                      8.0            NaN
29                     28.0                     23.0            NaN
30                      0.0                      0.0            NaN
31                      NaN                      NaN            NaN
32                     58.0                     26.0            NaN

    long_term_incentive       other  restricted_stock  \
0             1617011.0    174839.0         2748364.0
1             1920000.0     22122.0         6843672.0
2                   NaN   1573324.0          869220.0
3              602671.0    907502.0          985032.0
4              375304.0       486.0          126027.0
5                   NaN      2856.0               NaN
6                   NaN    147950.0         3576206.0
7                   NaN    101740.0          698242.0
8             3600000.0  10359729.0        14761694.0
9               71023.0    200308.0          393818.0
10             300000.0    150458.0         1248318.0
11                  NaN      1950.0          283649.0
12            1736055.0    277464.0         1794412.0
13             304805.0    819288.0          441096.0
14             304805.0       152.0          126027.0
15             831809.0       272.0          189041.0
16                  NaN     76547.0          235370.0
17                  NaN         NaN               NaN
18             275000.0       713.0          207940.0
19            1387399.0      3083.0          360528.0
20             200000.0    426629.0          365320.0
21             135836.0       176.0         2041016.0
22             304805.0      1215.0          189041.0
23                  NaN         NaN          934065.0
24                  NaN         NaN          386335.0
25                  NaN         NaN          264013.0
26                  NaN     93925.0          466101.0
27                  NaN         NaN               NaN
28                  NaN       774.0               NaN
29             323466.0      4669.0          126027.0
..                  ...         ...               ...
3             1294981.0      1661.0         1323148.0
4              350000.0    307895.0         2502063.0
5               69223.0      1936.0          441096.0
6             1617011.0   7427621.0         4188667.0
7                   NaN         NaN           32460.0
8                   NaN       891.0          315068.0
9              156250.0    202052.0          201483.0
10                  NaN         NaN         2046079.0
11                  NaN         NaN               NaN
12                  NaN         NaN          405999.0
13                  NaN         NaN               NaN
14             484000.0      7482.0         1787380.0
15                  NaN         NaN           47304.0
16             415657.0      1105.0          315068.0
17                  NaN    465357.0         1034346.0
18                  NaN        69.0          145796.0
19                  NaN         NaN          208809.0
20           48521928.0  42667589.0       130322299.0
21             374347.0    401481.0         1392142.0
22                  NaN      1740.0          585062.0
23                  NaN    189583.0               NaN
24                  NaN      1411.0          208510.0
25              75000.0       540.0          307301.0
26                  NaN    137864.0        -2604490.0
27                  NaN         NaN               NaN
28             369721.0    425688.0          378082.0
29             554422.0   1852186.0         1293424.0
30             461912.0         NaN               NaN
31             175000.0      2630.0          514847.0
32             694862.0    297353.0          558801.0

    restricted_stock_deferred      salary  shared_receipt_with_poi  \
0                         NaN    420636.0                    864.0
1                         NaN   1111258.0                   2042.0
2                         NaN    211844.0                     91.0
3                         NaN    224305.0                      NaN
4                         NaN    240189.0                   2188.0
5                         NaN         NaN                      NaN
6                         NaN    158403.0                      NaN
7                         NaN    288542.0                   1132.0
8                         NaN   1072321.0                   2411.0
9                         NaN    274975.0                    874.0
10                        NaN    309946.0                   2271.0
11                        NaN    249201.0                   1258.0
12                        NaN    440698.0                      NaN
13                        NaN    272880.0                      NaN
14                  -126027.0    201955.0                   1407.0
15                        NaN    248546.0                   2326.0
16                        NaN    192008.0                      NaN
17                        NaN         NaN                      NaN
18                        NaN    184899.0                      NaN
19                        NaN    273746.0                   2672.0
20                        NaN    222093.0                     73.0
21                        NaN     94941.0                      NaN
22                        NaN    248017.0                     23.0
23                        NaN         NaN                    720.0
24                        NaN         NaN                     58.0
25                   -72419.0         NaN                      NaN
26                        NaN    271442.0                   3669.0
27                        NaN         NaN                     12.0
28                        NaN    221003.0                    114.0
29                        NaN    275101.0                    583.0
..                        ...         ...                      ...
3                         NaN    365163.0                   2097.0
4                         NaN    415189.0                   1585.0
5                         NaN    211788.0                    900.0
6                         NaN   1060932.0                   2979.0
7                    -32460.0         NaN                      NaN
8                         NaN    278601.0                    772.0
9                   -140264.0     76399.0                      NaN
10                        NaN         NaN                   1074.0
11                        NaN         NaN                    739.0
12                        NaN         NaN                    583.0
13                        NaN         NaN                      NaN
14                 -1787380.0    492375.0                   1401.0
15                        NaN         NaN                      3.0
16                  -315068.0    210500.0                      NaN
17                        NaN    174246.0                      NaN
18                   -82782.0    239671.0                      NaN
19                        NaN         NaN                      NaN
20                 -7576788.0  26704229.0                      NaN
21                        NaN    304588.0                   1604.0
22                        NaN    365788.0                    702.0
23                        NaN         NaN                      NaN
24                        NaN    267093.0                      NaN
25                  -307301.0    261809.0                    196.0
26                 15456290.0         NaN                    463.0
27                        NaN         NaN                      NaN
28                        NaN    213625.0                   1336.0
29                        NaN    428780.0                   2103.0
30                        NaN         NaN                     23.0
31                        NaN    236457.0                      NaN
32                        NaN    370448.0                   2228.0

    to_messages  total_payments  total_stock_value
0         905.0        505050.0         22542539.0
1        3627.0       8682716.0         26093672.0
2         225.0       2003885.0          2493616.0
3           NaN       2652612.0           985032.0
4        2598.0       1639297.0           126027.0
5           NaN         91093.0         30766064.0
6           NaN        360300.0         11884758.0
7        1758.0       1490344.0           698242.0
8        4273.0     103559793.0         49110078.0
9         873.0       1272284.0           778546.0
10       2374.0       1587421.0          1920055.0
11       1328.0       1099100.0          1918887.0
12          NaN       2424083.0          1794412.0
13          NaN       2146973.0           877611.0

------

# 各種測試

------

In [45]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in df.columns:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.7798418972332016

C:\Users\erwin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\erwin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\erwin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\erwin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\erwin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,29,41,1,76,97,46,6,25,4,4,43,57,85,75,84,44,37,34,118
1,37,112,69,95,96,30,38,37,25,93,46,42,92,94,92,62,75,119,120
2,2,111,41,96,60,23,21,8,12,94,71,84,62,95,24,11,9,89,89
3,17,110,75,97,109,84,86,57,41,95,32,81,68,96,30,105,105,99,53
4,24,109,18,98,101,39,41,49,22,96,23,8,6,97,37,65,63,81,6

In [46]:
df_temp.fillna(0)
train_X = df_temp[:train_num]
estimator = LogisticRegression()

estimator.fit(train_X, train_Y)

C:\Users\erwin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [47]:
df_temp.isna()

,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
117,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
118,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
119,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
120,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
121,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
122,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
123,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
124,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
125,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
126,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
127,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
128,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
129,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
130,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
131,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
132,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
133,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
134,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
135,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
136,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
137,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
138,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
139,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
140,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
141,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
142,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
143,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
144,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
145,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [68]:
# Make predictions
# Make sure to select the second column only
estimator_pred = estimator.predict_proba(df_temp[train_num:])[:, 1]

In [69]:
estimator_pred

array([4.28577104e-01, 2.95529578e-01, 6.63379297e-01, 2.10519222e-02,
       8.38390897e-01, 3.68164416e-01, 9.63621305e-01, 1.64861789e-03,
       3.37283242e-01, 5.35758050e-02, 9.04383920e-03, 3.94987067e-02,
       1.14299322e-03, 1.55325178e-01, 4.14903836e-01, 1.19232813e-04,
       9.47095937e-02, 2.32783491e-02, 5.05798067e-02, 2.41220429e-04,
       5.33768094e-02, 2.78316958e-02, 9.98425997e-02, 1.54021124e-02,
       5.35109240e-02, 7.80734870e-02, 1.12348262e-03, 1.42195762e-01,
       1.19953719e-01, 1.39585365e-02, 1.00194151e-02, 6.63598508e-03,
       1.06800796e-02])

In [70]:
estimator_pred.shape

(33,)

In [72]:
# Submit df_test_ori['name'] dataframe
submit = df_test_ori[['name']]
print(f'submit.shape={submit.shape}')
submit.describe()
submit.head()

submit.shape=(33, 1)

                 name
0    BELDEN TIMOTHY N
1  BOWEN JR RAYMOND M
2      HANNON KEVIN P
3    DELAINEY DAVID W
4    CAUSEY RICHARD A

In [73]:
print(f'submit.size={submit.size}, len(estimator_pred)={len(estimator_pred)}')
submit['poi'] = estimator_pred

submit.head()

submit.size=33, len(estimator_pred)=33

C:\Users\erwin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                 name       poi
0    BELDEN TIMOTHY N  0.428577
1  BOWEN JR RAYMOND M  0.295530
2      HANNON KEVIN P  0.663379
3    DELAINEY DAVID W  0.021052
4    CAUSEY RICHARD A  0.838391

In [74]:
submit.describe()

             poi
count  33.000000
mean    0.163414
std     0.248858
min     0.000119
25%     0.010680
50%     0.053377
75%     0.155325
max     0.963621

In [75]:
submit.to_csv('./Day_049_submission_by_erwin.csv', sep=',', encoding='utf-8', index=False)

In [ ]:
# 對照組 : MinMax 編碼 + 邏輯斯迴歸

train_X = MinMaxScaler.fit_transform(df)
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())